<bean  class="org.apache.ignite.configuration.IgniteConfiguration">
	<property name="clientConnectorConfiguration">
		<bean class="org.apache.ignite.configuration.ClientConnectorConfiguration">
			<property name="host" value="myHost"/>
			<property name="port" value="47500"/>
			<property name="portRange" value="30"/>
		</bean>
	</property>
</bean>